@font-face {
    font-family: 'Vazir';
    src        : url('../fonts/Vazir-Bold.eot');
    src        : url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/Vazir.woff') format('woff'),
                 url('../fonts/Vazir.woff') format('truetype');
    font-weight: normal;
}
